<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digit Classifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>Draw a digit from 0-9</h3>
        <canvas id="canvas" width="280" height="280"></canvas>
        <br>
        <button id="classify-button">Classify</button>
        <button id="clear-button">Clear</button>
        <p id="result"></p>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>